/* Global */

body {
    font-family: Roboto, "Century Gothic", sans-serif;
}

h1,
h2,
h3 {
    font-family: Poppins, "Lucida Grande", sans-serif;
}

a {
    text-decoration: none;
}

/* Fixed Top Navbar */

#header {
    position: fixed;
    width: 100%;
    top: 0px;
    overflow: hidden;
}

/* Upper Banner */

#topbanner {
    height: 40px;
    color: white;
    background-color: #014f9f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toplinks {
    display: flex;
    align-items: center;
}

#topbanner a {
    color: white;
}

#social img {
    height: 25px;
}

#topbanner p {
    margin: 15px;
    width: 370px;
}

#topbanner .container {
    margin: 15px;
}

#contactbar a {
    margin: 5px;
}

#contactbar a+a::before {
    content: "| ";
    margin-right: 5px;
}

#contactbar a:hover {
    font-weight: bolder;
}

#mainbanner {
    background-color: white;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #014f9f;
    height: 85px;
}

#logo {
    height: 75px;
    margin: 0px 5px 0px 15px;
}

#mainbanner a {
    color: #014f9f;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 10px;
}

#mainbanner a:hover {
    color: #39b54a;
}

#mainbanner button:hover {
    background-color: #39b54a;
}

#mainbanner button {
    color: white;
    background-color: #014f9f;
    height: 40px;
    width: 120px;
    font-family: Poppins, "Lucida Grand", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    margin: 0px 20px;
    cursor: pointer;
}

#mainbanner button:active {
    background-color: #309A3F;
}