/* Global */

html,
header,
main,
footer,
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    margin: 0px;
}

body {
    font-family: Roboto, "Century Gothic", sans-serif;
}

div {
    font-size: 0;
}

h1,
h2,
h3 {
    font-family: Poppins, "Lucida Grande", sans-serif;
    color: #014f9f;
    text-align: left;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4,
h5,
h6,
p,
a,
ul,
ol {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* Fixed Top Navbar */

#header {
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0px;
    overflow: visible;
    box-shadow: 0px -4px 10px #014f9f;
}

/* Upper Banner */

#topbanner {
    height: 40px;
    color: white;
    background-color: #014f9f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toplinks {
    display: flex;
    align-items: center;
}

#topbanner a {
    color: white;
}

#topbanner p {
    margin: 15px;
    width: 370px;
    overflow: hidden;
}

#topbanner em {
    color: #39b54a;
    font-weight: bolder;
}

#topbanner .container {
    margin: 15px;
    overflow: hidden;
}

/* Contact Links */

#contactbar a {
    margin: 5px;
}

#contactbar a+a::before {
    content: "| ";
    margin-right: 5px;
}

#contactbar a:hover {
    font-weight: bolder;
}


/* Social Media Icons */

#social svg {
    height: 25px;
    margin: 0px 6px;
    padding-top: 3px;
}

#social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#social a:hover {
    border: 1px solid #39b54a;
}

/* Main Nav Banner */

#mainbanner {
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px, 0px, 3px, #014f9f;
    height: 85px;
}

#mainbanner a {
    color: #014f9f;
    margin: 0px 10px;
}

#logo {
    height: 70px;
    margin: 5px 5px 0px 15px;
}

#mainbanner a:hover {
    color: #39b54a;
}

#mainbanner button:hover {
    background-color: #39b54a;
}

#mainbanner button {
    color: white;
    background-color: #014f9f;
    height: 40px;
    width: 140px;
    font-family: Poppins, "Lucida Grand", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    margin: 0px 20px;
    cursor: pointer;
}

#mainbanner button:active {
    background-color: #309A3F;
}

#navmain {
    display: flex;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdownlink {
    font-size: 24px;
    font-weight: 500;
}

.dropdownmenu {
    list-style: none;
    margin: 2px 0px;
    padding: 2px;
    display: block;
    width: fit-content;
    background-color: white;
    opacity: 1;
    position: absolute;
    text-align: left;
    text-transform: none;
    border-left: 1px solid #014f9f;
    visibility: hidden;
    z-index: 52;
}

.dropdownmenu a {
    font-size: 16px;
}

.dropdownlink:hover+.dropdownmenu,
.dropdownmenu:hover,
.dropdownlink:focus+.dropdownmenu,
.dropdownmenu:focus {
    visibility: visible;
    display: block;
}

#connect {
    font-weight: bolder;
    border: 2px solid #014f9f;
    width: 235px;
}

#chicagolist {
    font-family: Big-Shoulders-Text, serif;
    text-decoration: underline;
    color: #E4002B;
    cursor: default;
    list-style: none;
}

#blog {
    font-size: 24px;
    font-weight: 500;
}

#blog:hover {
    border: 1px solid #39b54a;
    border-radius: 5px;
}

/* Page Navigation */

#pagenav {
    color: white;
    font-size: 14px;
    text-align: center;
    background-color: #39b54a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#pagenav a {
    color: white;
    text-decoration: underline;
    font-style: bolder;
    font-size: 16px;
    margin: 0px 5px;
}

.apply {
    width: 65px;
    height: 35px;
    color: #ffffff;
    background-color: #014f9f;
    text-align: center;
    display: grid;
    align-items: center;
}

.apply:hover,
.apply:focus {
    background-color: #004283;
}

/* Main Content */

main {
    position: relative;
    top: 175px;
    padding: 0px 10px;
    width: 100%;
    display: grid;
    justify-items: center;
    z-index: 2;
    box-shadow: 0px -4px 10px #014f9f;
}

main div {
    margin: 10px 0px;
}

.divider {
    width: 90%;
    height: 7px;
    background-color: #014f9f;
}

/* About Section */

#about {
    width: 90%;
}

.chicagoheader h5 {
    font-family: Big-Shoulders-Text, serif;
    color: #E4002B;
    font-size: 18px;
    text-align: left;
    min-width: fit-content;
}

.info {
    display: flex;
    background: linear-gradient(90deg, #ffffff, #014f9f);
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 20px;
}

.info p {
    min-width: 150px;
    max-width: 500px;
    margin: 15px;
}

.info img {
    max-height: 175px;
    margin: 5px;
}

#eligibility {
    max-width: 95%;
    background-color: #39b54a;
    padding: 20px;
}

#eligibility div {
    background-color: #ffffff;
    padding: 3px 7px;
}

.ineligible h2 {
    width: fit-content;
    border: 2px solid #E4002B;
}

#schedule {
    width: 85%;
    vertical-align: top;
}

.monthcontainer {
    text-align: left;
    border: 3px solid #39b54a;
    padding: 0px 3px;
    width: 220px;
    height: 230px;
    margin: 0px 7px;
    display: inline-block;
    vertical-align: top;
}

.monthcontainer h4 {
    text-transform: uppercase;
    color: white;
    background-color: #014f9f;
    border-top: 1px solid #39b54a;
    border-bottom: 1px solid #39b54a;
    padding: 1px 3px;
}

/* Stories Section */

#stories {
    background: linear-gradient(#39b54a, #ffffff);
    width: 95%;
    padding: 0px 15px;
}

#stories h2 {
    background-color: #ffffff;
    text-align: left;
    width: fit-content;
}

/* Resources Section */

#resources {
    width: 95%;
}

.resourcecontainer {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 300px;
    margin: 15px;
    padding: 7px;
    box-shadow: 0px 0px 10px 1px #014f9f;
    border-radius: 5px;
}

#resources h2 {
    text-align: center;
    justify-self: center;
}

.resourcecontainer img {
    max-width: 250px;
}

.resourcecontainer p {
    color: #000000;
}

/* Team Section */

#team {
    width: 95%;
}

.teamcontent {
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: #014f9f;
    padding: 0px 20px;
}

.teamcontainer {
    width: 250px;
    background-color: #ffffff;
    padding: 3px;
    margin: 15px;
}

.teamcontainer img {
    height: 120px;
    margin: 2px;
}

/* Application Section */

.applicationcontainer {
    background: linear-gradient(#014f9f, #ffffff);
    padding: 15px;
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    position: relative;
    top: 176px;
    width: 100%;
    background-color: #014f9f;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footercontainer {
    color: #ffffff;
    margin: 0px 10px;
}

.footercontainer a {
    color: #ffffff;
    text-decoration: underline;
}

.footercontainer + .footercontainer::before {
    content: " | ";
}

#footernav {
    display: inline-flex;
}
#footernav div {
    margin: 2px;
}

#footernav a {
    font-size: 12px;
}

#footernav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-indent: 3px;
}