* a {
    text-decoration: none;
}

nav li {
    font-family: sans-serif;
    font-size: large;
    padding: 2px;
}

nav a:hover {
    color: orange;
    background-color: blue;
}

.button {
	color: red;
	background-color: gray;
	border: 1px solid red;
}
.button:hover {
	color: gray;
	background-color: red;
	border: 1px solid gray;
	font-weight: bold;
}
